@import 'normalize.css';
@import url('https://fonts.google.com/share?selection.family=Montserrat:ital,wght@0,300;1,400;1,500;1,600');

:root{

}
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}